// Default
* {
  box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
 	background-color: var(--bg-color);
 	color: var(--body-color);
 	transition: color .6s, background-color .6s;
  margin:0;
  padding:0;
  line-height: 1.7 !important;
}

a:not(.button) {
	color: var(--link-color);
}

img {
	max-width: 100%;
}
