.card {
  position: relative;
  margin-bottom: var(--space);
}

.content {
  padding-bottom: 1.5rem;
}

.link {
  position: absolute;
  inset: 0;
  z-index: 1;
  overflow: hidden;
  color: transparent;
  text-indent: -9999px;
}

.link:focus-visible {
  outline-color: transparent;
  border-bottom: 5px solid var(--border-color);
}

.card h2 {
  margin-top: 0;
}

.card p {
  max-width: 85%;
  margin: 0;
  font-weight: 300;
}

.meta {
  margin-bottom: 1em;
  opacity: 0.8;
  font-size: 0.8em;
}

@media (min-width: 461px) {
  .card:not(:last-of-type) {
    border-bottom: 1px solid var(--border-color);
  }
}

@media (max-width: 650px) {
  .card:not(:last-of-type) {
    margin-bottom: calc(var(--space) * 1.3);
  }

  .card p {
    max-width: none;
  }
}
