// Default
* {
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html[lang] {
  line-height: 1.7;
}

body {
 	background-color: var(--bg-color);
 	color: var(--body-color);
 	transition: color .6s, background-color .6s;
}

a:not(.color-off) {
	color: var(--link-color);
}

img {
	max-width: 100%;
}
